[
  {
    "front": {
      "diff": 5,
      "name": "Virtus",
      "restrictions":[
        ["4",      "",  "2", "5", "GREEN"],
        ["",       "",  "6",     "GREEN",  "2"],
        ["",       "3", "GREEN",  "4",  ""],
        ["5", "GREEN",  "1", "", ""]
      ]
    },
    "back": {
      "diff": 5,
      "name": "Virtus",
      "restrictions":[
        ["4",      "",  "2", "5", "GREEN"],
        ["",       "",  "6",     "GREEN",  "2"],
        ["",       "3", "GREEN",  "4",  ""],
        ["5", "GREEN",  "1", "", ""]
      ]
    }
  }
]