[
  {
    "front": {
      "diff": 5,
      "name": "Empty front",
      "restrictions":[
        ["", "", "", "", ""],
        ["", "", "", "", ""],
        ["", "", "", "", ""],
        ["", "", "", "", ""]
      ]
    },
    "back": {
      "diff": 5,
      "name": "Empty back",
      "restrictions":[
        ["", "", "", "", ""],
        ["", "", "", "", ""],
        ["", "", "", "", ""],
        ["", "", "", "", ""]
      ]
    }
  }
]